## .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.docstates

## IDE
.vs/
.idea/
*.swp
*~

## NuGet
*.nupkg
project.lock.json
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## OS
.DS_Store
Thumbs.db

## Claude
CLAUDE.md
.claude

notki.txt
